@media screen and (max-width: 1880px){
	#btnGerar, #limparResultado{	
		top: 18.9%!important;
	}
	.variaveisTitulo{
		height: 100px!important;
	}	
}

#limparResultado{
	top: 16.9%;
}

#btnGerar{
	position: absolute;
	top: 16.9%;
}

/*.gruposVariaveis{
	border-right: 5px dashed #6c757d; 
	padding: 0px 0px 0px 13px;
}*/

/*.produtorio{
	font-size: 26px;
	font-weight: bold;
}

.variaveisTitulo{
	font-size: 19px;
}

.variaveis{
	font-size: 18px;
    font-weight: bold;
}*/